.ipynb_checkpoints/
tmp/
env/
openproof/Server/venv/
data/erg-1214-osx-0.9.26.dat
data/raw/
platopy/nlgen_scripts/dat/

platopy/folgen/k1_sents.out
platopy/k2_formulas.out
platopy/k3_formulas.out
data.zip
data 2/
logs/sessions/
treelstm.pytorch/
*.pyc
error_log*
platopy/curr.out
platopy/prev.out
platopy/total.out
platopy/*.out*

deprecated_main.py
